# Node modules
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Environment variables
.env

# Logs
logs
*.log
*.log.*

# OS-specific files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
.cache/
